[submodule "lib/fun"]
	path = lib/fun
	url = https://github.com/keptan/fun
[submodule "sauce"]
	path = sauce
	url = https://github.com/keptan/sauce
[submodule "lib/nfun"]
	path = lib/nfun
	url = https://github.com/keptan/nfun
